body {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  gap: 160px;
}

.section-side2 {
  width: 226px;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-1 {
  margin-top: 20px;
  margin-left: 55px;
}

.section-side1 {
  display: -webkit-inline-box;
}

.btn-2 {
  margin-left: 127px;
}

.list {
  list-style-type: none;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.list:nth-child(even) {
  background-color: rgb(231, 227, 227);
}
